// <---- Fonts ----->
$BigShouldersDisplay-Path: "./fonts/Big_Shoulders_Display/static";
$LexendDeca-Path: "./fonts/Lexend_Deca/static";

@font-face {
    font-family: "$BigShouldersDisplay-SemiBold";
    src: url("#{$BigShouldersDisplay-Path}/BigShouldersDisplay-SemiBold.ttf");
}
@font-face {
    font-family: "$LexendDeca-Regular";
    src: url("#{$LexendDeca-Path}/LexendDeca-Regular.ttf");
}

// <---- Variables ---->
$BigShouldersDisplay-SemiBold: "$BigShouldersDisplay-SemiBold";
$LexendDeca-Regular:"$LexendDeca-Regular";


// <---- Colors ----> 
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transperant-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);


// <--- Responsive --->
$Tablet: 768px;
$Mobile: 430px;